.sidebar{
    max-width: 300px;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    border-right: 5px outset #fefefe73 ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: flex;
    flex-direction: row;
    gap: 190px;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .menu img{
    width: 30px;
}


.sidebar .new-chat{
    margin-top: 35px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px 40px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .new-chat img{
    width: 30px;
}

.sidebar .new-chat:hover{
    background-color: #d7dadf;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: px;
    background-color: #e2e6eb;
    border-bottom: 5px outset #fefefe73 ;
}


.sidebar .recent-entry:hover{
    background-color: #d7dadf;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    margin-top: 5px;
}

.sidebar .bottom-item:hover{
    background-color: #d7dadf;
}

.trial{
    border-top: 5px outset #d7dadf ;
    margin: 5px;
    padding-top: 10px;

}

.trial div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.trial div p{
    font-size: 17px;
    font-weight: 400;
}

.trial div .bold{
    background-color: rgb(165, 165, 255);
    padding: 4px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 3px;
}

.trial .line{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #949597;
    font-size: 15px;
}

.login_btn{
    margin-right: 25px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 30px;
    font-weight: bold;
}

.sign-up_btn{
    border: none;
    border-radius: 8px;
    padding: 8px 25px;
    font-weight: 600;
    background-color: #24A0ED;
}

.login_btn:hover{
    background-color: #949597;
    color: white;
}

.sign-up_btn:hover{
    background-color: #0396ff;
    color: white;
}